* {
    box-sizing: border-box;
}
/* font-family: 'Abril Fatface', cursive; */
body {
    background-color: black;
    margin:0;
    padding:0;
    color: white;
}

.container {
    margin:0 auto;
    text-align: center;
}

.hd .hd-title {
    margin:0;
    padding:40px 0;
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
    border-bottom: 1px solid white;
}

.hd a:link , a:visited {
    text-decoration: none;
    color:white;
}

section .container {
    text-align: center;
}

.atc1 {
    display: inline-block;
}
.atc1 .img{
    float: left;
    padding:30px;
}

.atc1 .select {
    padding:30px;
    float: left;
}


.atc1::after{
    content: ' ';
    display: block;
    clear: left;
}

.select .selectbox-label {
    text-align: left;
    display: block;
    color:gray;
    font-size: 5px;
    padding-bottom:10px;
}


.select #selectbox {
    display: block;
    width: 100%;
    background-color: gray;
    padding: 10px;
    color:white;
    font-size: 15px;
    appearance:none;
    margin-bottom:15px;
}

.select input {
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-bottom:15px;
    color: black;
}

.select button {
    float: left;
    background-color: rgba(21, 146, 204, 0.945);
    padding:10px;
    color: white;
    border-radius: 5%;
    font-size: 20px;
}

.atc3 h3{
    margin:0;
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
}

.atc3 .atc3-content {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 50px;
    margin-bottom: 150px;
}

.atc4 {
    font-family: 'Gowun Dodum', sans-serif;
    margin:0 auto;
    padding:25px;
    width: 50%;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 150px;
}

.atc5 h3{
    margin:0;
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;

}

.atc5 .atc5-content {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 50px;
    margin-bottom: 150px;
}

.atc6 {
    font-family: 'Gowun Dodum', sans-serif;
    margin:0 auto;
    padding:25px;
    width: 50%;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 20px;
}

.atc6 h3 {
    background-color: white;
    color:black;
    padding:10px;
    width: 60%;
    margin:0 auto;
}

.atc7 {
    font-family: 'Gowun Dodum', sans-serif;
    margin:0 auto;
    padding:25px;
    width: 50%;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 100px;
}

.atc7 h3 {
    background-color: white;
    color:black;
    padding:20px;
    width: 60%;
    margin:0 auto;
}

.fot {
    border-top: 1px solid white;
}

.fot p:first-child {
    padding-top:20px;
    font-size: 8px;
}

.fot p:nth-child(2) {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 8px;
}
