* {
    box-sizing: border-box;
}
/* font-family: 'Abril Fatface', cursive; */
body {
    background-color: black;
    margin:0;
    padding:0;
    color: white;
}

.container {
    margin:0 auto;
    text-align: center;
}

.hd .hd-title {
    margin:0;
    padding:50px 0;
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
}


.hd-title a:link , .hd-title a:visited {
    text-decoration: none;
    color:white;
}

.sec article {
    margin:0;
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
}

p {
    margin:0;
}
p a{
    display: block;
    padding:40px 0;
}

.sec a:link , .sec a:visited {
    text-decoration: none;
    color:white;
}

.sec a:hover {
    background-color: gray;
    text-decoration: underline;
}

.fot {
    border-top: 1px solid white;
}

.fot p:first-child {
    padding-top:20px;
    font-size: 8px;
}

.fot p:nth-child(2) {
    padding-top: 10px;
    font-size: 8px;
}
